/* :root {
    --light-blue: rgba(33, 150, 243, 1);
    --black: rgba(0, 0, 0, 1);
    --graphyt: rgba(33, 33, 33, 1);
    --light-grey: rgba(117, 117, 117, 1);
    --grey: rgba(245, 244, 250, 1);
    --border-grey: rgba(238, 238, 238, 1);
    --header-grey: rgba(236, 236, 236, 1);
    --dark-grey: rgba(47, 48, 58, 1);
    --white: rgba(255, 255, 255, 1);
    --white-op06: rgba(255, 255, 255, 0.6);
    --card-set-gap: 30px;
} */

:root {
    --color-body: rgba(255, 255, 255, 1);

    --color-logo-black: rgba(0, 0, 0, 1);
    --color-logo-blue: rgba(33, 150, 243, 1);
    --color-logo-white: rgba(255, 255, 255, 1);

    --color-text-menu: rgba(236, 236, 236, 1);
    --color-hover: rgba(33, 150, 243, 1);
    --color-header-border: rgba(238, 238, 238, 1);
    --color-header-contacts: rgba(117, 117, 117, 1);
    --color-header-border: rgba(236, 236, 236, 1);

    --color-hero-bg: rgba(47, 48, 58, 1);
    --color-hero-text: rgba(255, 255, 255, 1);
    --color-hero-btn-bg: rgba(33, 150, 243, 1);

    --color-advantages-title: rgba(33, 33, 33, 1);
    --color-advantages-text: rgba(117, 117, 117, 1);
    
    --color-features-title: rgba(33, 33, 33, 1);
    --color-staff-bg: rgba(245, 244, 250, 1);
    --color-staff-title: rgba(33, 33, 33, 1);
    --color-staff-name: rgba(33, 33, 33, 1);
    --color-staff-card-bg: rgba(255, 255, 255, 1);
    --color-position-text: rgba(117, 117, 117, 1);

    --color-clients: rgba(175,177,184,1);

    --color-footer-bg: rgba(47, 48, 58, 1);
    --color-office: rgba(255, 255, 255, 1);
    --color-contacts-footer: rgba(255, 255, 255, 0.6);
    --color-social-media-title: rgba(255,255,255,1);
        
    --color-pf-btn: rgba(33, 33, 33, 1);
    --color-pf-btn-bg: rgba(245, 244, 250, 1);
    --color-pf-btn-hover: rgba(33, 150, 243, 1);
    --color-pf-nav-hover: rgba(255, 255, 255, 1);
    --color-pf-card-border: rgba(238, 238, 238, 1);
    --color-pf-card-title: rgba(33, 33, 33, 1);
    --color-pf-card-text: rgba(117, 117, 117, 1);

    --color-social-icons: rgba(175,177,184,1);
    
    
    --card-set-gap: 30px;
}

body {
    background-color: var(--color-body);
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* container for the all sections*/
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-text-menu);
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.logo {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-logo-black);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.174;
    letter-spacing: 0.03em;
}

.logo-footer {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    /* color: var(--black); */
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.174;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--color-logo-blue);
}

.logo-second-part {
    color: var(--color-logo-white);
}

.site-nav {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px; /*between logo and menu*/
}

.site-nav .navigation.current {
    color: var(--color-hover);
}

.site-nav li:not(:first-child) {
    margin-left: 50px; /*between menu-items*/
}

.navigation {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--graphyt);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus {
    color: var(--color-hover);
}

.ul-contacts {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 331px;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}
.ul-contacts li:not(:first-child) {
    margin-left: 50px; /*between contacts-items*/
}

.contacts {
    color: var(--color-header-contacts);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
    color: var(--color-hover);
}

.ul-footer {
    padding: 0;
}

.hidden-title {
    /* visibility: hidden;
    margin-top: 0;
    margin-bottom: 0; */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.office-address {
    color: var(--color-office);
    margin: 0;
    padding: 0;
}

.email-tel {
    color: var(--color-contacts-footer);
}

address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

footer {
    background-color: var(--color-footer-bg);
}

.footer {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-footer {
    margin-top: 20px;
}

.ul-footer > li {
    margin-top: 9px;
}

/*Отключено для наглядности*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.address {

}

.add-us {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-social-media-title);
    margin-bottom: 20px;
}

.social-media-contacts {
    margin-left: 70px;
}

.ul-social-media {
    display: flex;
}

.social-media-item {

}