.hero {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-hero-bg);
    background-image: ;
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-hero {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-hero-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-button {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 32px;
    background: var(--color-hero-btn-bg);
    color: var(--color-hero-text);
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.advantages-container {
    padding-top: 94px;
}

.ul-advantages {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
}

.li-advantages:not(:first-child) {
    margin-left: 30px;
}

/*Решение для отображения контейнеров с текстом размером как на макете*/
.li-advantages {
    max-width: 270px;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--color-advantages-title);
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-text {
    margin-top: 10px;
    margin-bottom: 0;
    color: var(--color-advantages-text);
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-align: left;
}

.features-container {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    display: block;
    margin: 0 auto;
    color: var(--color-features-title);
    font-size: 36px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
}

.ul-features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

.ul-features li:not(:first-child) {
    margin-left: 30px;
}

.our-staff {
    background-color: var(--color-staff-bg);
}

.staff-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.ul-staff {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

.ul-staff li:not(:first-child) {
    margin-left: 30px;
}

.staff-card {
    background-color: var(--color-staff-card-bg);
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.name-staff {
    margin: 30px auto 0;
    color: var(--color-staff-name);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
}

.position-staff {
    margin: 10px auto 0;
    color: var(--color-position-text);
    font-size: 16px;
    line-height: 1.172;
    text-align: center;
    letter-spacing: 0.03em;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.ul-clients {
    display: flex;
    margin-top: 50px; 
}

.clients-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--color-clients);
    box-sizing: border-box;
    border-radius: 4px;
}

.ul-clients li:not(:first-child) {
    margin-left: 30px;
}

.ul-social-media-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.social-icon {
    width: 44px;
    height: 44px;
    
}

.ul-clients li:not(:first-child) {
    margin-left: 10px;
}


/* 1. Зачастую размеры иконок моб. телефона и конверта (для контактной информации в хедере) экспортируете в меньшем размере, чем оригинал – обращайте на это внимание.
2. Фоновое изображение секции не должно тянутся шире своего оригинального размера (1600рх) (свойство max-width вам в помощь).
3. Стилизируйте свойство fill через css-правило (fill из path удаляйте), это вам очень поможет при выполнении д/з № 5. Отличным решением будет использовать currentColor для стилизации.
4. Для центрирования иконок НЕ используйте паддинги – это не надежный вариант. Более оптимальным решением будет использовать флексы.
5. Иконки соцсетей, а также постоянных клиентов группируйте как список. При этом ссылки внутри li должны занимать всю площадь li (для соцсетей размеры задавайте именно ссылке, в остальных случаях - li).
6. Добавляя эффект тени при состоянии ховера карточки портфолио, стилизируйте именно ссылку, а не li. */

https://www.youtube.com/watch?v=GmEY7lL7YXE&feature=youtu.be&ab_channel=GoITFrontend 34.48
https://www.youtube.com/watch?v=VThG4A-4bJQ&feature=youtu.be&ab_channel=GoITFrontend 19.05